language: node_js
node_js:
  - "6"
  - "6.1"
  - "6.2"
  - "5"
  - "5.1"
  - "5.2"
  - "5.3"
  - "5.4"
  - "5.5"
  - "5.6"
  - "5.7"
  - "5.8"
  - "5.9"
  - "5.10"
  - "5.11"
  - "5.12"
  - "4"
  - "4.1"
  - "4.2"
  - "4.3"
  - "4.4"
script: "npm run-script test-travis"
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
