<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{title}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    </head>
    <body>
        <div class="container">
            {{intro}}
            <h2>Variable Inheritance</h2>
            <p>Any variable that a block does not have specified within itself, it will inherit from its parent</p>
            <p>{globalVariable}</p>

            <h2>Blocks</h2>
            {#panelBlock}
            <div class="panel panel-{panelClass}">
                <div class="panel-body bg-{panelClass}">
                    <{textTag}>{panelContent}</{textTag}>
                    <p>{globalVariable}</p>
                </div>
            </div>
            {/panelBlock}

            {#removableBlock}
            <div class="panel panel-danger">
                <div class="panel-body bg-danger">
                    <h3>This block should be removed if there is no value associated with it</h3>
                </div>
            </div>
            {/removableBlock}
            <hr>

            <p>If there is no red block between this text and the blue block above, then the red block was successfuly removed</p>

            <h2>Promises and Streams</h2>
            <p>The point of this templating engine is to be streaming content while still waiting for promises to resolve.</p>
            {#weather}
            <div class="panel panel-info">
                <div class="panel-heading"><h4>Weather for {name}: <img src="{icon}">{weather}</h4></div>
                <div class="panel-body">
                    <div class="col-xs-6"><strong>Temperature:</strong> {temp}&deg;C</div>
                    <div class="col-xs-6">
                        <strong>Wind:</strong> {windSpeed}mph
                        <!-- <span style="display: inline-block; transform: rotate({windDirection}deg)">&#10142;</span> -->
                    </div>
                </div>
            </div>
            {/weather}

            <h2>Inserted blocks from other files via stream</h2>
            <div class="panel panel-default">
                <div class="panel-body bg-warning">
                    {{insert}}
                </div>
            </div>
            <p>The panel above should contain live weather information</p>

            <h2>Iterable Block</h2>
            <p>This list should have 5 items in it</p>
            <ul class="list-group">
                {#iterableBlock}
                    <li class="list-group-item">
                        {iterableValue}
                    </li>
                {/iterableBlock}
            </ul>

            <h2>Another Iterable Block</h2>
            <p>These panels should repeat 4 times and have different values inside of them</p>
            {#anotherIterable}
            <div class="col-xs-6">
                <div class="panel panel-{panelClass}">
                    <div class="panel-heading">
                        <h4>{heading}</h4>
                    </div>
                    <div class="panel-body">
                        {body}
                        <hr>
                        {globalVariable}
                    </div>
                </div>
            </div>
            {/anotherIterable}

            {/* This is a comment tag and should be removed
                It is also a multi-line comment tag. */}
                
            <h2>Nested Blocks</h2>
            {#nestedBlock}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>{heading}</h4>
                </div>
                <div class="panel-body">
                    <p>blocks inside of other blocks, should be able to see and use their parents' variables such as: {panelVariable}</p>
                    <p>Here is an iterating block:</p>
                    <ul>
                        {#nestedIterator}
                        <li>{item} - {panelVariable}</li>
                        {/nestedIterator}
                    </ul>
                    <p>Here is a static block displaying a variable from its parent scope:</p>
                    {#nestedStatic}
                    <div class="well well-sm">
                        {panelVariable}
                    </div>
                    {/nestedStatic}
                </div>
            </div>
            {/nestedBlock}
            {#escapeTagBlock}
            <h2>{{Escaped}} {Tags}</h2>
            <p>This part of the template is inside a block that has been set to display tags that have no variable associated with them.
            The rest of the template removes tags that have no variables associated with them. This is useful if you want to use strings
            of text that look like simple variable tags. </p>
            <p>This applies to {variable tags} and {{escaped variable tags}}, but it doesn't apply to {#block tags}block tags{/block tags}</p>
            <h2>Deeplinked Variables</h2>
            <p>Linking something like <strong>{block1.variable1}</strong> will link directly to a variable inside of a block. For example here is the panelVariable from inside of nestedBlock:</p>
            <div class="well well-sm">
                {nestedBlock.panelVariable}
            </div>
            <p>{unwrittenBlock.variable1}</p>

            <h2>Mask Functions</h2>
            <p>You can include functions inside of tags to be applied to a variable. <strong>{variable|function1|function2}</strong></p>
            <ul>
                <li>Value: <strong>{funcVar}</strong></li>
                <li>Value with Math.sqrt() applied: <strong>{funcVar|sqrt}</strong></li>
                <li>Value with Math.log() applied: <strong>{funcVar|log}</strong></li>
                <li>Value with Math.sqrt() and then Math.log() applied: <strong>{funcVar|sqrt|log}</strong></li>
                <li>Value with Math.log() and then Math.sqrt() applied: <strong>{funcVar|log|sqrt}</strong></li>

            </ul>
            <p>If there is a  tag with an undefined function in it, instead of returning the wrong answer, the tag will be returned</p>
            <p><strong>{funcVar|undefinedFunction}</strong></p>
            <p>Mask functions should also work with deeplinks</p>
            <div class="well well-sm">
                {nestedBlock.panelVariable|upperCase}
            </div>

            <h2>html escaped and non-escaped tags</h2>
            <p>This tag uses <strong>{{double}}</strong> curley braces, and will allow html to be displayed</p>
            <p>{{unescapedTag}}</p>
            <p>This tag uses <strong>{single}</strong> curley braces, and will NOT allow html to be displayed</p>
            <p class="text-muted">{escapedTag}</p>
            {/escapeTagBlock}
        </div>
    </body>
</html>
